{% extends 'layout.html' %}

{% block title %}
    item.category
{% endblock %}

{% block content %}
<!-- <section>
    <div class="cd-flex flex-row w-100 justify-content-center bg-secondary bg-gradient">
        <div >
            <div >
                {% for cloth in goods %}
                    <div class="card" style="width: 18rem;">
                        <img src="/static/media/{{cloth.file_name}}" class="card-img-top" alt="commodity">
                        <div class="card-body">
                        <h5 class="card-title">{{cloth.title}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Price: ${{cloth.price}}</a>

                    </div>
                {% endfor %}
            </div>
        </div>
     
    </div>
</section> -->
<section>
    <div class="aside" style="margin: 10px 5px 20px 20px;">
        <div class="row">
            <div class="col-md-3">
                {% for cloth in goods %}
                    <div class="card" style="width: 18rem;">
                        <img src="/static/media/{{cloth.file_name}}" class="card-img-top" alt="commodity">
                        <div class="card-body">
                        <h5 class="card-title">{{cloth.title}}</h5>
                        <p class="card-text">{{cloth.description}}</p>
                        <a href="/view?item={{cloth.id}}" class="btn btn-primary">Price: ${{cloth.price}}</a>

                    </div>
                {% endfor %}
            </div>
        </div>
     
    </div>
</section>



{% endblock %}