{% block title %}

{% endblock %}


{% block contain %}
<div class="row">
    <div class="col-md-4"> </div>
  <div class="col-md-4">
    <div class="form">
        <form action="{{url_for('login')}}">
              <h2>Deca-Mart</h2>
              <input type="email" name="email" placeholder="Enter Email">
              <input type="password" name="password" placeholder="Enter password">
              <button class="btnn" > Login</button>

              <p class="link">Don't have an account? <br>
            <a href="{{url_for('register')}}"> Register </a> here</p>
        </form>
    </div>
</div>
<div class="col-md-4"></div>
</div>
{% endblock %}


          
    